<div
  (touchstart)="onTouchStart($event)"
  (touchend)="onTouchEnd($event)"
>
  <div #invisible>
    <p class="inv-p">
      {{ (lService.MasterData$ | async)?.companyName }}
    </p>
  </div>
  <div class="mt-3 mb-1">
    <app-block-image />
  </div>
  <div
    class="mt-3 mb-1 p-3 xl:h-screen xl:flex xl:justify-content-center xl:align-items-center fadein animation-duration-2000 animation-iteration-1"
  >
    <div class="xl:w-10">
      <app-potrait />
    </div>
  </div>
  <div
    class="xl:h-screen xl:flex xl:justify-content-center xl:align-items-center border-round mb-1 p-3"
  >
    <div class="xl:w-10">
      <app-services />
    </div>
  </div>
  <div
    class="xl:h-screen xl:flex xl:justify-content-center xl:align-items-center border-round mb-1 p-3"
  >
    <div class="xl:w-10">
      <app-projects />
    </div>
  </div>
  <div
    class="xl:flex xl:justify-content-center xl:align-items-center border-round mb-3 p-3"
  >
    <div class="xl:w-10">
      <app-contact />
    </div>
  </div>
</div>
