<div class="card">
  <div class="card-container">
    <div class="block mt-3 mb-3">
      <app-block-image></app-block-image>
    </div>
    <div class="block mt-3 mb-3">
      <app-potrait></app-potrait>
    </div>
    <div
      class="block text-center border-round mb-3"
    >
      <app-services></app-services>
    </div>
    <div
      class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3"
    >
      Projekte
    </div>
    <div
      class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3"
    >
      Kontakt
    </div>
    <div
      class="block bg-yellow-500 font-bold text-center p-4 border-round mb-3"
    >
      Footer
    </div>
  </div>
</div>
