<div #invisible>
  <p style="font-size: 0%">{{ (lService.MasterData$ | async)?.companyName }}</p>
</div>
<div class="fadein animation-duration-1000 animation-iteration-1">
  <div class="block mt-3 mb-1">
    <app-block-image />
  </div>
  <div class="block mt-3 mb-1 p-3">
    <app-potrait />
  </div>
  <div class="block text-center border-round mb-1 p-3">
    <app-services />
  </div>
  <div class="block text-center border-round mb-1 p-3">
    <app-projects />
  </div>
  <div class="block text-center border-round mb-1 p-3">
    <app-contact />
  </div>
</div>
