<div
  *ngIf="navbarfixed"
  style="background-color: white; height: 10vh; width: 100vw"
></div>
<div
  [ngClass]="navbarfixed ? 'fixed w-full' : 'nofixed'"
  style="background-color: white; height: 10vh; opacity: 92%"
  (scroll)="onscroll()"
>
  <div class="flex justify-content-between align-items-center">
    <img
      class="max-h-full"
      src="assets/logo.png"
      alt="Firmenlogo"
      style="width: 10vh; height: 10vh; padding: 1rem"
    />
    <h2 [@opacityAnimation]="animationStatus" style="color: #596970">
      {{ chapterService.currentChapter$ | async }}
    </h2>
    <button
      pButton
      type="button"
      icon="pi pi-bars"
      class="menu-button mr-3"
      (click)="toggleSidebar()"
      style="color: #596970"
    ></button>
  </div>
</div>
<p-sidebar class="z-1" [(visible)]="sidebarVisible" position="right">
  <ng-template pTemplate="header">
    <div class="w-11 align-items-center flex flex-row justify-content-start">
      <img
        class="max-h-full"
        src="assets/logo.png"
        alt="Firmenlogo"
        [style.width]="logoSize"
        [style.height]="logoSize"
      />
      <h3 class="text-center w-12 opacity-40" style="color: #596970">
        Kloß IT-Solutions
      </h3>
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <hr />
    <ng-container *ngFor="let c of chapterService.chapters$ | async">
      <div class="w-12 flex flex-row align-items-center" style="color: #596970">
        <i class="pi pi-bookmark"></i>
        <h3 (click)="changeCurrentChapter($event)" class="ml-2">{{ c }}</h3>
      </div>
    </ng-container>
    <hr />
    <div style="color: #596970">
      <div class="w-12 flex flex-row align-items-center">
        <i class="pi pi-lock"></i>
        <h3 class="ml-2">Datenschutz</h3>
      </div>
      <div class="w-12 flex flex-row align-items-center">
        <i class="pi pi-file"></i>
        <h3 class="ml-2">Impressum</h3>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer"
    ><hr />
    <div class="text-sm text-center mt-3">
      <div (click)="changeLanguage()">
        <img
          *ngIf="isLanguageGerman"
          src="assets/countries/de.svg"
          alt="SVG-Grafik"
          [style.width]="flagSize"
          [style.height]="flagSize"
        />
        <img
          *ngIf="!isLanguageGerman"
          src="assets/countries/gb.svg"
          alt="SVG-Grafik"
          [style.width]="flagSize"
          [style.height]="flagSize"
        />
      </div>
      <div class="flex justify-content-center mb-1">
        <a
          href="https://www.freelancermap.de/profil/fullstack-entwickler-und-berater"
          target="_blank"
          class="mr-2"
        >
          <img
            src="assets/freelancermap_icon.png"
            alt="background"
            [style.width]="iconSize"
            [style.height]="iconSize"
          />
        </a>
        <a
          href="https://de.linkedin.com/company/klo%C3%9F-it-solutions?trk=public_profile_topcard-current-company"
          target="_blank"
          class="mr-2"
        >
          <i class="pi pi-linkedin text-black text-2xl"></i>
        </a>
        <a
          href="https://www.xing.com/profile/Nikolai_Kloss2"
          target="_blank"
          class="mr-2"
        >
          <img
            src="assets/xing_icon2.svg"
            alt="background"
            [style.width]="iconSize"
            [style.height]="iconSize"
          />
        </a>
        <a href="https://github.com/Ufo391" target="_blank">
          <i class="pi pi-github text-black text-2xl"></i>
        </a>
      </div>
      <p class="text-black m-0 p-0">©{{ currentYear }} Kloß IT-Solutions.</p>
    </div>
  </ng-template>
</p-sidebar>
