$minW: 577px;
$maxW: 576px;
$maxH: 100px;

.primary-color {
  color: #596970;
}

.link {
  font-size: 19.89px;
  margin-top: 16.38px;
  margin-bottom: 16.38px;
}

.menu-button {
  background-color: transparent;
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.fixed {
  position: fixed;
  z-index: 2;
  transition: 0.5s linear;
  top: 0px;
}

@media screen and (max-width: 1199px) {
  .fixed-w {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .fixed-w {
    width: 83.333%;
  }
}

.nofixed {
  position: static;
  transition: 0.5s linear;
  top: -80px;
}
@media screen and (max-width: 1199px) {
  .nofixed-w {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .nofixed-w {
    width: 83.333vw;
  }
}

@media screen and (min-width: $minW) {
  .company-icon {
    width: 10vw;
    max-height: $maxH;
    max-width: $maxH;
  }
}

@media screen and (max-width: $maxW) {
  .company-icon {
    width: 20vw;
    max-height: $maxH;
    max-width: $maxH;
  }
}

@media screen and (min-width: $minW) {
  .header-h {
    height: 20vh;
    max-height: $maxH;
  }
}

@media screen and (max-width: $maxW) {
  .header-h {
    height: 10vh;
    max-height: $maxH;
  }
}

.header-h-desktop {
  height: 100px;
}

.header-h-desktop-in {
  height: 68px;
}

.header-desc {
  font-size: 1.25rem;
  font-weight: bold;
}
