<div class="card">
  <div class="flex justify-content-between flex-wrap">
    <div
      class="flex align-items-center justify-content-center w-5rem h-5rem m-2"
    >
      <img class="max-h-full" src="assets/logo.png" alt="Firmenlogo"/>
    </div>
    <div
      class="flex align-items-center justify-content-center w-5rem h-5rem m-2"
    >
      <button
        pButton
        type="button"
        icon="pi pi-bars"
        class="menu-button"
        (click)="toggleSidebar()"
      ></button>
    </div>
  </div>
</div>
