<div style="position: relative; display: block">
  <img
    class="bg-repeat-y h-screen w-12"
    src="assets/footer.png"
    alt="background"
  />
  <div
    style="
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    "
  >
    <a
      href="https://de.linkedin.com/company/klo%C3%9F-it-solutions?trk=public_profile_topcard-current-company"
      target="_blank"
    >
      <div>
        <i class="pi pi-linkedin" style="font-size: 500%"></i>
        <h4 class="text-center">LinkedIn</h4>
      </div>
    </a>
    <a href="https://www.xing.com/profile/Nikolai_Kloss2" target="_blank">
      <div>
        <img src="assets/xing_icon.svg" alt="background" />
        <h4 class="text-center">Xing</h4>
      </div>
    </a>
    <a href="https://github.com/Ufo391" target="_blank">
      <div>
        <i class="pi pi-github" style="font-size: 500%"></i>
        <h4 class="text-center">GitHub</h4>
      </div>
    </a>
    <div
      style="
        font-size: small;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 100vw;
      "
    >
      <p-divider />
      <div class="text-center">©Copyright Kloß IT-Solutions.</div>
      <div class="text-center">Alle Rechte vorbehalten</div>
      <div class="flex flex-row justify-content-center">
        <a
          href="https://google.de"
          target="_blank"
          class="text-center mr-2 font-bold"
          >Impressum</a
        >
        <a
          href="https://google.de"
          target="_blank"
          class="text-center mr-2 font-bold"
          class="text-center font-bold"
          >Datenschutz</a
        >
      </div>
    </div>
  </div>
</div>
