$minW: 577px;
$maxW: 576px;
$background: linear-gradient(to right, #daeaf0, #9fb1c5);

.bg-color{
 background: $background;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: $minW) {
  .container-h{
    height: 33vh;
    max-height: 150px;
  }
}

@media screen and (max-width: $maxW) {
  .container-h{
    height: 16vh;
  }
}

.p-ng{
  font-size: 0.5rem
}
