$minW: 577px;
$maxW: 576px;
$background: linear-gradient(to right, #daeaf0, #9fb1c5);

.bg-color {
  background: $background;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-h {
  height: 16vh;
}

@media screen and (min-width: $minW) and (max-width: 1200px) {
  .container-h {
    height: 33vh;
  }
}

.p-ng {
  font-size: 0.5rem;
}
