<div
  style="
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <img
    class="bg-repeat-y h-screen w-12"
    src="assets/footer.png"
    alt="background"
  />
  <div style="position: absolute; text-align: center">
    <a
      href="https://de.linkedin.com/company/klo%C3%9F-it-solutions?trk=public_profile_topcard-current-company"
      target="_blank"
    >
      <div class="align-items-center">
        <i class="pi pi-linkedin" style="font-size: 500%"></i>
        <h4>LinkedIn</h4>
      </div>
    </a>
    <a href="https://www.xing.com/profile/Nikolai_Kloss2" target="_blank">
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="assets/xing_icon.svg"
          alt="background"
          style="width: 25%; height: 25%"
        />
        <h4>Xing</h4>
      </div>
    </a>
    <a href="https://github.com/Ufo391" target="_blank">
      <div class="align-items-center">
        <i class="pi pi-github" style="font-size: 500%"></i>
        <h4>GitHub</h4>
      </div>
    </a>
    <div class="text-sm w-screen">
      <p-divider />
      <div class="text-center">
        © Copyright Kloß IT-Solutions. Alle Rechte vorbehalten
      </div>
      <div class="flex flex-row justify-content-center">
        <a
          href="https://google.de"
          target="_blank"
          class="text-center mr-2 font-bold"
          >Impressum</a
        >
        <a
          href="https://google.de"
          target="_blank"
          class="text-center mr-2 font-bold"
          >Datenschutz</a
        >
      </div>
    </div>
  </div>
</div>
