<div class="flex flex-column flex-wrap">
  <h1>Kontakt</h1>
  <div>
    <div class="flex flex-column flex-wrap">
      <div class="flex flex-row flex-wrap align-items-center">
        <i class="pi pi-map-marker" style="font-size: 2rem"></i>
        <p-divider layout="vertical"></p-divider>
        <div class="flex flex-column flex-wrap text-left">
          <div class="font-bold">Ort:</div>
          <div>33342</div>
          <div>Herzebrock-Clarholz</div>
        </div>
      </div>
      <div class="flex flex-row flex-wrap align-items-center">
        <i class="pi pi-envelope" style="font-size: 2rem"></i>
        <p-divider layout="vertical"></p-divider>
        <div class="flex flex-column flex-wrap text-left">
          <div class="font-bold">E-Mail:</div>
          <div>info@klossitsolutions.com</div>
        </div>
      </div>
      <div class="flex flex-row flex-wrap align-items-center">
        <i class="pi pi-phone" style="font-size: 2rem"></i>
        <p-divider layout="vertical"></p-divider>
        <div class="flex flex-column flex-wrap text-left">
          <div class="font-bold">Mobil:</div>
          <div>+491523 5834040</div>
        </div>
      </div>
    </div>
  </div>
  <div>Formular</div>
</div>
