<div
  class="mb-5"
  *ngIf="(lService.MasterData$ | async)?.contact as c"
  [@opacityAnimation]="fadeinAnimation"
>
  <p-panel id="scrollToElement">
    <ng-template pTemplate="header"
      ><div class="w-12">
        <h2 #title class="m-0">{{ c.title }}</h2>
      </div>
    </ng-template>
    <div>
      <div class="surface-section text-700 text-center mt-5">
        <div class="text-blue-600 font-bold mb-3">
          <i class="pi pi-users">&#160;POWERED BY DISCORD </i>
        </div>
        <p class="text-900 font-bold text-5xl mb-3 p-0">
          Join Our Design Community
        </p>
        <div class="text-700 text-2xl mb-5">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit
          numquam eligendi quos.
        </div>
        <hr />
      </div>

      <div class="flex flex-row flex-wrap align-items-center ml-5">
        <i
          class="pi pi-phone shadow-5 text-2xl p-2 icon-button"
          (click)="openDefaultPhoneApp()"
        ></i>
        <p-divider layout="vertical"></p-divider>
        <div class="flex flex-column flex-wrap text-left">
          <p>
            <span class="font-bold">{{ c.values[0].value.title }}</span
            ><br />{{ c.values[0].value.value }}
          </p>
        </div>
      </div>
      <div class="flex flex-row align-items-center ml-5">
        <i
          class="pi pi-envelope shadow-5 text-2xl p-2 icon-button"
          (click)="openDefaultEmailClient()"
        ></i>
        <p-divider layout="vertical"></p-divider>
        <div class="flex flex-column text-left">
          <p>
            <span class="font-bold">{{ c.values[1].value.title }}</span
            ><br />{{ c.values[1].value.value }}
          </p>
        </div>
      </div>
      <div class="flex flex-column">
        <div class="flex flex-row align-items-center ml-5">
          <i
            class="pi pi-map-marker shadow-5 text-2xl p-2 icon-button"
            (click)="openGoogleMaps()"
          ></i>
          <p-divider layout="vertical"></p-divider>
          <div class="flex flex-column text-left">
            <p>
              <span class="font-bold">{{ c.values[2].value.title }}</span
              ><br />{{ c.values[2].value.value }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>
