<div class="text-center" *ngIf="(lService.MasterData$ | async)?.aboutMe as ab">
  <p-card [style]="{ background: '#F7F7F7' }">
    <ng-template pTemplate="content">
      <h2 class="title-i" #title>
        {{ ab.title }}
      </h2>
      <div
        class="flex flex-column sm:flex-row mt-3 align-items-center justify-content-between"
      >
        <img
          class="picture border-round"
          src="assets/potrait.jpg"
          alt="Potrait"
          loading="eager"
        />
        <p-divider
        *ngIf="(vpService.breakPointS | async) !== 'xs'"
          class="Potrait"
          layout="vertical"
        />
        <div class="mt-5 sm:mt-0 w-12 sm:w-8 select-none">
          <div class="text-justify">
            <p *ngIf="isFoldOut">
              {{ ab.value }}
            </p>
            <p
              *ngIf="!isFoldOut"
              class="gradient-text cursor-pointer"
              (click)="toggleFoldOut()"
            >
              {{ ab.value | slice : 0 : 500 }}
            </p>
          </div>
          <i
            *ngIf="!isFoldOut"
            class="pi pi-arrow-down cursor-pointer w-12 opacity-50 fadeinup animation-duration-1000 animation-iteration-infinite"
            (click)="toggleFoldOut()"
          ></i>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
