<div class="card" style="height: 100vh">
  <div class="card-container">
    <div class="block text-center mb-3" style="height: 10vh">
      <h1 #title>Kloß IT-Solutions</h1>
    </div>
    <div class="flex flex-column mb-3">
      <div class="flex align-items-center justify-content-center">
        <img class="h-16rem" src="assets/potrait.jpg" alt="Potrait" />
      </div>
    </div>
    <div class="block text-center p-4 mb-3">
      <p class="text-justify">{{ description }}</p>
    </div>
  </div>
</div>
