.gradient-text {
  background: linear-gradient(to top, transparent 0%, #596970 100%);
  -webkit-background-clip: text;
  color: transparent;
}

@media screen and (min-width: 577px) {
  .picture {
    height: 50vh;
  }
}

@media screen and (max-width: 576px) {
  .picture {
    height: 25vh;
  }
}

.title-i{
  font-size: 0px
}
