<div
  *ngIf="(lService.MasterData$ | async)?.projects as p"
  [@opacityAnimation]="fadeinAnimation"
>
  <p-card [style]="{ background: '#F7F7F7' }">
    <ng-template pTemplate="header">
      <h2 #title class="pt-3 select-none">{{ p.title }}</h2>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="sm:flex sm:flex-row sm:align-items-center">
        <div class="w-1 pr-8" *ngIf="!(vpService.isSmallViewStream | async)">
          <i
            class="pi pi-angle-left text-4xl cursor-pointer fadeinright animation-duration-2000 animation-iteration-infinite"
            (click)="clickLastItemHandler()"
            *ngIf="!fadeinContentAnimationStatus"
          ></i>
        </div>
        <div
          class="animation-duration-500 animation-iteration-1 sm:w-3 w-12"
          [ngClass]="{ fadein: fadeinContentAnimationStatus }"
        >
          <p class="text-left sm:text-center font-bold p-0 m-0">
            {{ p.values[pointer].content.title }}
          </p>
          <div class="flex flex-row sm:flex-column justify-content-between">
            <div>
              <p class="text-left sm:text-center p-0 m-0">{{ p.values[pointer].role }}</p>
              <p class="text-left sm:text-center p-0 m-0">
                {{ p.values[pointer].industry }}
              </p>
              <p class="text-left sm:text-center p-0 m-0">
                {{ p.values[pointer].durationInMonths }} {{ p.duration }}
              </p>
            </div>
            <br *ngIf="!(vpService.isSmallViewStream | async)" />
            <div>
              <p class="text-right sm:text-center p-0 m-0">
                {{ p.values[pointer].techStack[0] }}
              </p>
              <p class="text-right sm:text-center p-0 m-0">
                {{ p.values[pointer].techStack[1] }}
              </p>
              <p class="text-right sm:text-center p-0 m-0">
                {{ p.values[pointer].techStack[2] }}
              </p>
            </div>
          </div>
        </div>
        <p-divider
          *ngIf="!(vpService.isSmallViewStream | async)"
          class="w-1"
          [style]="{ height: '66vh' }"
          layout="vertical"
        />
        <p-divider
        *ngIf="(vpService.isSmallViewStream | async)"
      />
        <div
          class="animation-duration-500 animation-iteration-1 sm:w-6 justify-content-center mt-5 sm:mt-0"
          [ngClass]="{ fadein: fadeinContentAnimationStatus }"
        >
          <p-scrollPanel [style]="{ height: '66vh' }">
            <p class="text-justify">{{ p.values[pointer].content.value }}</p>
          </p-scrollPanel>
        </div>
        <div class="w-1 pl-6" *ngIf="!(vpService.isSmallViewStream | async)">
          <i
            class="pi pi-angle-right text-4xl cursor-pointer fadeinleft animation-duration-2000 animation-iteration-infinite"
            (click)="clickNextItemHandler()"
            *ngIf="!fadeinContentAnimationStatus"
          ></i>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div
        class="animation-duration-1000 animation-iteration-1"
        [ngClass]="{ fadein: fadeinContentAnimationStatus }"
      >
        <div
          *ngIf="vpService.isSmallViewStream | async"
          class="flex justify-content-end flex-wrap card-container"
        >
          <p-button
            icon="pi pi-angle-left"
            styleClass="p-button-text"
            [style]="{ color: 'inherit' }"
            (click)="clickLastItemHandler()"
            [disabled]="fadeinContentAnimationStatus"
          ></p-button>
          <p-button
            icon="pi pi-angle-right"
            class="ml-1"
            [style]="{ color: 'inherit' }"
            styleClass="p-button-text"
            (click)="clickNextItemHandler()"
            [disabled]="fadeinContentAnimationStatus"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
