
<p-card [style]="{ background: '#F7F7F7', height: '90vh' }">
  <ng-template pTemplate="header">
    <div class="p-3 flex flex-column">
      <h2 #title>Projekte</h2>
      <div class="text-left font-bold">
        {{ selected?.name }}
      </div>
      <div class="flex flex-row flex-wrap">
        <div class="text-left w-6">{{ selected?.role }}</div>
        <div class="text-right w-6">
          {{ selected && selected.techStack[0] }}
        </div>
      </div>
      <div class="flex flex-row flex-wrap">
        <div class="text-left w-6">{{ selected?.industry }}</div>
        <div class="text-right w-6">
          {{ selected && selected.techStack[1] }}
        </div>
      </div>
      <div class="flex flex-row flex-wrap">
        <div class="text-left w-6">{{ selected?.durationInMonths }} Monate</div>
        <div class="text-right w-6">
          {{ selected && selected.techStack[2] }}
        </div>
      </div>
    </div>
  </ng-template>
  <p-scrollPanel [style]="{ width: '100%', height: '55vh' }">
    <p class="text-justify">{{ selected?.description }}</p>
  </p-scrollPanel>
  <ng-template pTemplate="footer">
    <div class="card">
      <div class="flex justify-content-end flex-wrap card-container">
        <p-button
          icon="pi pi-angle-left"
          styleClass="p-button-text"
          (click)="clickLastItemHandler()"
        ></p-button>
        <p-button
          icon="pi pi-angle-right"
          class="ml-1"
          styleClass="p-button-text"
          (click)="clickNextItemHandler()"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-card>
