$minW: 577px;
$maxW: 576px;

.image-container {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: $minW) {
  .image-container-h {
    height: 80vh;
  }
}

@media screen and (max-width: $maxW) {
  .image-container-h {
    height: 30vh;
  }
}

.cropped-image {
  width: 125%;
  height: 125%;
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 25%;
  left: 0%;
  transform: translate(-0%, -50%);
  z-index: 1;
}

@media screen and (min-width:  $minW) {
  .overlay-text-size {
    font-size: 3vw;
  }
}

@media screen and (max-width:  $maxW) {
  .overlay-text-size {
    font-size: 120%;
  }
}

