<div class="image-container">
  <div
    class="overlay-text"
    [@headlineScrollAnimation]="animationStatusHeadline"
  >
    <p class="font-bold text-xl">Meine Erfahrung. Ihr Gewinn!</p>
    <p>
      <span [@subtitleOpacityAnimation]="animationStatusSubtitle[0]"
        >Effizienz gestalten.</span
      >
      <br />
      <span [@subtitleOpacityAnimation]="animationStatusSubtitle[1]"
        >Prozesse beschleunigen.</span
      >
      <br />
      <span [@subtitleOpacityAnimation]="animationStatusSubtitle[2]"
        >Individuelle Softwarelösungen</span
      >
    </p>
  </div>
  <img
    [@backgroundScrollAnimation]="animationStatusBackground"
    class="cropped-image"
    src="assets/Homepage_notext_noicons.png"
    alt="Firmenlogo"
  />
</div>
