<div
  [@opacityAnimation]="fadeinAnimation"
  class="animation-duration-1000 animation-iteration-1"
  [ngClass]="{
    'flipleft': nxtElementAnimation,
    'flipright': lstElementAnimation,
  }"
  *ngIf="(lService.MasterData$ | async)?.services as s"
>
  <p-card [style]="cardStyles[pointer]">
    <ng-template pTemplate="header">
      <div class="flex flex-column">
        <h2 #title [style]="fontStyles[pointer]">{{ s.title }}</h2>
        <div class="image-container">
          <img
            alt="Card"
            class="cropped-image"
            [src]="imgUris[pointer]"
            [style]="imgStyles[pointer]"
          />
        </div>
      </div>
    </ng-template>
    <h3 [style]="fontStyles[pointer]">{{ s.values[pointer].title }}</h3>
    <p class="text-justify" [style]="fontStyles[pointer]">
      {{ s.values[pointer].value }}
    </p>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-end flex-wrap card-container">
        <p-button
          icon="pi pi-angle-left"
          styleClass="p-button-text"
          [style]="fontStyles[pointer]"
          (click)="clickLastItemHandler()"
          [disabled]="nxtElementAnimation || lstElementAnimation"
        ></p-button>
        <p-button
          icon="pi pi-angle-right"
          class="ml-1 button-color"
          styleClass="p-button-text"
          [style]="fontStyles[pointer]"
          (click)="clickNextItemHandler()"
          [disabled]="nxtElementAnimation || lstElementAnimation"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
