$minW: 577px;
$maxW: 576px;

.card-h-d{
  height: 90vh;
}

.image-container {
  overflow: hidden;
  position: relative;
}

.cropped-image {
  object-fit: cover;
  //filter: blur(0px) grayscale(0) brightness(100%);
  //opacity: 100%;
}

@media screen and (min-width: $minW) {
  .image-container-h {
    height: 66vh;
    width: 66vh;
  }
}

@media screen and (max-width: $maxW) {
  .image-container-h {
    height: 33vh;
  }
}

.title-i {
  font-size: 0px;
}

i {
  color: black;
}

p {
  color: black;
}
