<div class="text-center">
  <p-card [style]="{ background: '#F7F7F7', height: '40vh' }">
    <ng-template pTemplate="header">
      <div class="flex flex-column mb-3">
        <h2 #title>Kontakt</h2>
      </div>
    </ng-template>
    <div>
      <div class="flex flex-column flex-wrap">
        <div class="flex flex-row flex-wrap align-items-center mb-6">
          <i class="pi pi-map-marker" style="font-size: 2rem"></i>
          <p-divider layout="vertical"></p-divider>
          <div class="flex flex-column flex-wrap text-left">
            <div class="font-bold">Ort:</div>
            <div>Gütersloh</div>
          </div>
        </div>
        <div class="flex flex-row flex-wrap align-items-center mb-6">
          <i class="pi pi-envelope" style="font-size: 2rem"></i>
          <p-divider layout="vertical"></p-divider>
          <div class="flex flex-column flex-wrap text-left">
            <div class="font-bold">E-Mail:</div>
            <div>info@klossitsolutions.com</div>
          </div>
        </div>
        <div class="flex flex-row flex-wrap align-items-center">
          <i class="pi pi-phone" style="font-size: 2rem"></i>
          <p-divider layout="vertical"></p-divider>
          <div class="flex flex-column flex-wrap text-left">
            <div class="font-bold">Mobil:</div>
            <div>+491523 5834040</div>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>

<!--div class="mt-5">
    <p-card [style]="{background: '#F7F7F7'}">
      <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="p-fluid">
          <div class="p-field">
            <span class="p-float-label">
              <input
                name="email"
                id="email"
                [(ngModel)]="lastInputMail"
                required
                type="email"
                [ngClass]="{ 'p-inputtext': true, 'p-filled': lastInputMail }"
              />
              <label for="float-input">E-Mail</label>
            </span>
          </div>
          <div class="p-field mt-4">
            <span class="p-float-label">
              <input
                name="name"
                id="name"
                [(ngModel)]="lastInputName"
                required
                type="text"
                [ngClass]="{ 'p-inputtext': true, 'p-filled': lastInputName }"
              />
              <label for="float-input">Name</label>
            </span>
          </div>
          <div class="p-field mt-4">
            <span class="p-float-label">
              <input
                name="subject"
                id="subject"
                [(ngModel)]="lastInputSubject"
                required
                type="text"
                [ngClass]="{
                  'p-inputtext': true,
                  'p-filled': lastInputSubject
                }"
              />
              <label for="float-input">Betreff</label>
            </span>
          </div>
          <div class="p-field mt-4">
            <span class="p-float-label">
              <textarea
                name="message"
                id="message"
                [(ngModel)]="lastInputMessage"
                required
                [ngClass]="{ 'p-inputtext': true, 'p-filled': lastInputMessage, }"
                style="resize: vertical"
              >
              </textarea>
              <label for="float-input">Nachricht</label>
            </span>
          </div>
          <p-button
            [disabled]="!myForm.valid"
            label="Nachricht schicken"
            type="submit"
          ></p-button>
        </div>
      </form>
    </p-card>
  </div-->
